
.icon-menu:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */