@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Ubuntu:400,500&display=swap&subset=latin-ext');

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    width: 100vw;
    margin: 0 !important;
    overflow-x: hidden;
}



/*******BAR SECTION********/

.lang-icon {
    width: 60px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 5px;
}

.lang-icon a {
    width: 2rem;
}

i.flag:not(.icon):before {
    width: 100%;
}

.bar-container {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin: 0;
    background-color: #0170ba;
    opacity: 0.8;
    /*border: 2px solid rgb(247, 243, 6);*/
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    /*border: 2px solid rgb(89, 80, 216);*/
}

.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5%;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu-item :hover {
    color: #effefe;
}

.menu-icon-mobile {
    display: none;
}

.menu-mobile-off {
    display: none;
}

.menu-mobile-on {
    display: block;
    position: fixed;
    top: 50px;
    list-style-type: none;
    text-align: center;
    width: 100%;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    
    background-color: #0170ba;
}

.menu-mobile-on > a > li {
    color: black;
    font-weight: bold;
    line-height: 250%;
}

.menu-mobile-on > a {
    display: block;
    border-top: 2px dotted #10239e;
    text-decoration: none;
}

.menu-mobile-on > a:hover >li {
    color: white;
    background-color: #0069af;
}

.menu-button {
    width: 47px;
    height: 42px;
    background-color: #0170ba;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-button > i {
    margin-left: 0;
    margin-right: 0;
}

.menu-button:hover {
    color: white;
    opacity: 1;
}


/*******BANNER SECTION*******/

.banner {  
    background: rgba(0, 0, 0, 0.5) url(wroclaw.jpg) no-repeat center / 100% auto padding-box border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    height: 188px;
    width: 188px;
    background:  #effefe url(profilowe.jpg) no-repeat center / contain padding-box border-box;
    border: 6px solid #0170ba;
    animation-name: loading-avatar;
    animation-duration: 3s;
}

@keyframes loading-avatar {
    0% {margin-right: 120%;}
    90% {margin-right: 0;}
    
}

.avatar-body {
    padding-top: 2%;
    height: 128px;
    width: 308px;
    background-color: #0170ba;
    border-radius: 50% 50% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #effefe;
    font-size: 2.1rem;
    font-family: 'Ubuntu', sans-serif;
    animation-name: loading-avatar-body;
    animation-duration: 3s;
}

@keyframes loading-avatar-body {
    0% {margin-left: 120%;}
    69% {margin-left: 0; border-radius: 50% 50% 0% 0%;}
    80% {margin-left: 0; border-radius: 40% 50% 0% 0%;}
    90% {margin-left: 0; border-radius: 50% 40% 0% 0%;}
    100% {margin-left: 0; border-radius: 50% 50% 0% 0%;}
}

.curly-brackets {
    color: #a333c8;
}


/*************************************/

/*******ABOUTME***********/

.aboutme {
    background-color: #002944;
    margin: 0;
}

.aboutme-header {
    height: 60px;
    background-color: #013d66;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px dotted #0199fe;
}
.aboutme-main {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: left;
    line-height: 1.5;
    padding: 1.2rem 1.2rem 2rem 1.2rem;
    border-radius: 55px;
}

/*************************************/

/*******EXPERIENCE***********/

#experience { 
    background-color: #eef8ff;
}

.experience-container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #eef8ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-header {
    height: 60px;
    background-color: #eef8ff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #015187;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.6rem 2rem 2rem 2rem;
    border-bottom: 2px dotted #015187;
}

.university, .coderscrew {
    width: 250px;
    min-height: 300px;
    background-color: #fafafa;
    margin: 2rem 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    border: 5px solid #0170ba;
    border-radius: 15px;
    /*-webkit-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);*/
}

.university-logo {
    width: 45%;
    height: auto;
}

.university-logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

.university-text {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;

}

.university-text:last-child {
    margin-bottom: 1rem;
}

.coderscrew-logo {
    width: 60%;
    height: auto;
}

.coderscrew-logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.coderscrew-text {
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
}

/****************************/

/*******SKILLS SECTION*******/

#skills {
    background-color: #013d66;
}

.skills-header {
    height: 60px;
    background-color: #014776;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px dotted #0199fe;
}

.skills-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    background-color: #013d66;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    /*-webkit-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75); */
}

.hexagon {
    margin: 0px;
    padding: 0px;
    justify-content: right;
    transition: all .3s ease-in-out;
}

.hexagon:hover {
    transform: scale(1.2) rotate(360deg);
}

.react {
    display: none;
}

.semantic {
    display: none;
}

.break {
    flex-basis: 100%; 
}

.break.mob {
    display: none;
}

.break.mid {
    display: none;
}

/***********************************************/

/*******PROJECTS******/

#projects {
    background-color: #ddf1ff;
}

.projects-header {
    height: 70px;
    background-color: #eef8ff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #013d66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.6rem 1rem 2rem 1rem;
    border-bottom: 2px dotted #0199fe;
}

.projects-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
}

.project {
    width: 40%;
    min-width: 340px;
    min-height: 450px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.3;
    margin: 1.5rem 0.5rem;
    background-color: #fafafa;
    border-radius: 9px;
    -webkit-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h3 {
    font-size: 30px;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
}

.project p {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    text-align: center;
}

.project ul {
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
}

.project-zm-chart {
    transition: all .3s ease-in-out;
    margin: 0rem 0.4rem 0 0.4rem;
}

.project-zm-chart:hover {
    transform: scale(.9);
}

.project-zm-chart:active {
    transform: scale(2.3);
}

.project-button-demo,
.project-button-todolist {
    width: 40%;
    height: 35px;
    margin: 1.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #0170ba;
    background-color: #0170ba;
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    transition: transform 0.2s ease-in-out;
}

.project-button-demo:hover,
.project-button-todolist:hover {
    background-color: #effefe;
    color: #0170ba;
}

.project-button-demo:active {
    transform: scale(0.9);
    
}

.buttons .project-button-todolist {
    width: 90%;
}

.buttons a {
    width: 40%;
}

.buttons {
    display: flex;
    justify-content: center;
    
}

/*****************************/

/********FOOTER************/

.footer {
    width: 100%;
    height: 120px;
    /*min-height: 120px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #013d66;
    color: white;
}

.footer-mail {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.footer-mail p {
    margin: 0 .4rem;
}

.footer-links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    
    margin: 1.5rem 0 1rem 0;
}

.footer a {
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    transition: all .2s ease-in-out;
}

.footer a:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

#arrow-up {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 9px;
    bottom: 9px;
    color: white;
    border-radius: 3px;
    background-color: #333;
    opacity: 0.8;
}

.arrow-box {
    display: none;
}

/**********************************************************/

@media only screen and (max-width: 380px) {

    .menu-icon-mobile {
        display: block;
        align-self: flex-end;
        margin-right: 5%;
    }

    .menu {
        display: none;
    }

    .bar-container {
        flex-direction: column;
    }

    .banner {
        background: rgba(0, 0, 0, 0.5) url(wroclaw.jpg) no-repeat -480px / cover padding-box border-box;
    }

    .avatar {
        width: 125px;
        height: 125px;
    }

    .avatar-body {
        height: 85px;
        width: 205px;
        font-size: 25px;
    }

    .aboutme-main {
        width: 80%;
    }
    
    .experience-container {
        width: 85%;
    }

    .university-logo-box {
        margin-bottom: 4%;
    }
    
    .skills-header {
        line-height: 120%;
        font-size: 1.8rem;
    }
    
    .hexagon {
        width: 85px;
    }

    .react-mob {
        display: none;
    }

    .react {
        display: flex;
    }

    .semantic {
        display: flex;
    }

    .semantic-mob {
        display: none;
    }
    
    .break {
        display: none;
    }
    
    .break.mob {
        display: inline;
    }

    .project p {
        font-size: 15px;
        
        text-align: justify;
    }

    .project ul {
        margin-left: 4%;
        margin-right: 5%;
        font-size: 15px;
    }
}


@media only screen and (min-width: 380px) and (max-width: 465px) {
    .menu-icon-mobile {
        display: block;
        align-self: flex-end;
        margin-right: 5%;
    }

    .menu {
        display: none;
    }

    .bar-container {
        flex-direction: column;
    }

    .banner {
        background: rgba(0, 0, 0, 0.5) url(wroclaw.jpg) no-repeat center / cover padding-box border-box;
    }

    .hexagon {
        width: 100px;
    }

    .break {
        display: none;
    }
    
    .break.mob {
        display: inline;
    }
}

@media only screen and (min-width: 465px) and (max-width: 680px) {
    
    .banner {
        background: rgba(0, 0, 0, 0.5) url(wroclaw.jpg) no-repeat center / cover padding-box border-box;
    }

    .menu-icon-mobile {
        display: block;
        align-self: flex-end;
        margin-right: 5%;
    }

    .menu {
        display: none;
    }

    .bar-container {
        flex-direction: column;
    }

    .hexagon {
        width: 140px;
    }

    .break {
        display: none;
    }
    
    .break.mob {
        display: inline;
    }

    .project {
        width: 65%;
    }
}

@media only screen and (min-width: 680px) and (max-width: 950px) {
    .break {
        display: none;
    }
    
    .break.mid {
        display: inline;
    }

    .banner {
        background: rgba(0, 0, 0, 0.5) url(wroclaw.jpg) no-repeat center / cover padding-box border-box;
    }

    .project {
        width: 65%;
    }
}

@media only screen and (max-height: 380px) {
    .avatar {
        height: 108px;
        width: 108px;
    }

    .avatar-body {
        height: 68px;
        width: 208px;
        font-size: 1.5rem;
    }

    .semantic {
        display: flex;
    }

    .semantic-mob {
        display: none;
    }
}
