body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    width: 100vw;
    background-color: gray;
    background-color: #effefe;
    background-image: linear-gradient(#eee 2px, transparent 0), linear-gradient(90deg, #eee 2px, transparent 0);
    background-size: 30px 30px;
    margin: 0 !important;
    overflow-x: hidden;
}



/*******BAR SECTION********/

.bar-container {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin: 0;
    background-color: #0170ba;
    opacity: 0.8;
    /*border: 2px solid rgb(247, 243, 6);*/
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    /*border: 2px solid rgb(89, 80, 216);*/
}

.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5%;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu-item :hover {
    color: #effefe;
}

.menu-icon-mobile {
    display: none;
}

.menu-mobile-off {
    display: none;
}

.menu-mobile-on {
    display: block;
    position: fixed;
    top: 50px;
    list-style-type: none;
    text-align: center;
    width: 100%;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    
    background-color: #0170ba;
}

.menu-mobile-on > a > li {
    color: black;
    font-weight: bold;
    line-height: 250%;
}

.menu-mobile-on > a {
    display: block;
    border-top: 2px dotted #10239e;
    text-decoration: none;
}

.menu-mobile-on > a:hover >li {
    color: white;
    background-color: #0069af;
}

.menu-button {
    width: 47px;
    height: 42px;
    background-color: #0170ba;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-button > i {
    margin-left: 0;
    margin-right: 0;
}

.menu-button:hover {
    color: white;
    opacity: 1;
}


/*******BANNER SECTION*******/

.banner {  
    background: rgba(0, 0, 0, 0.5) url(developing.jpg) no-repeat center / 100% auto padding-box border-box;
    width: 100%;
    min-height: 400px;
    color: orange;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-header {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0170ba;
    font-size: 70px;
    font-weight: bold;
    margin-top: 3%;
    font-family: 'Indie Flower', cursive;
}

.avatar {
    border-radius: 50%;
    height: 188px;
    width: 188px;
    background:  #effefe url(profilowe.jpg) no-repeat center / contain padding-box border-box;
    border: 6px solid #0170ba;
}

.avatar-body {
    padding-top: 2%;
    height: 128px;
    width: 308px;
    background-color: #0170ba;
    border-radius: 50% 50% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #effefe;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.curly-brackets {
    color: #a333c8;
}


/*************************************/

/*******EXPERIENCE***********/

.experience-container {
    width: 60%;
    min-height: 450px;
    margin-left: auto;
    margin-right: auto;
    /*border: 8px solid #29a9df;*/
    border-radius: 7px;
    background-color: #effefe;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
}

.experience-header {
    font-family: 'Indie Flower', cursive;
    color: #0170ba;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.university {
    width: 250px;
    min-height: 300px;
    background-color: #fafafa;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
}

.university-logo {
    width: 45%;
    height: auto;
}

.university-logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 14%;
}

.university-text {
    text-align: center;
    margin-top: 5%;
    font-weight: 600;

}

.coderscrew {
    width: 250px;
    min-height: 300px;
    background-color: #fafafa;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 15px 5px rgba(0,0,0,0.75);
}

.coderscrew-logo {
    width: 60%;
    height: auto;
}

.coderscrew-logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.coderscrew-text {
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
}

/****************************/

/*******SKILLS SECTION*******/

.skills-header {
    font-family: 'Indie Flower', cursive;
    color: #0170ba;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.skills-header-text {
    text-align: center;
}

.skills-container {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    background-color: #0170ba;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    -webkit-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75); 
}

.hexagon {
    margin: 0px;
    padding: 0px;
    justify-content: right;
    transition: all .3s ease-in-out;
}

.hexagon:hover {
    transform: scale(1.2) rotate(360deg);
}

.break {
    flex-basis: 100%; 
}

.break.mob {
    display: none;
}

/***********************************************/

/*******PROJECTS******/

.projects-header {
    font-family: 'Indie Flower', cursive;
    color: #0170ba;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.projects-container {
    width: 80%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    width: 450px;
    min-height: 450px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 4%;
    background-color: #fafafa;
    border-radius: 9px;
    -webkit-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 40px 13px rgba(0,0,0,0.75); 
}

.project h3 {
    font-size: 30px;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.75);
}

.project p {
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

.project ul {
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
}

.project-zm-chart {
    transition: all .3s ease-in-out;
}

.project-zm-chart:hover {
    transform: scale(.9);
}

.project-zm-chart:active {
    transform: scale(2.3);
}

.project-button-demo {
    width: 60%;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 4%;
    border-radius: 5px;
    border: 2px solid #0170ba;
    background-color: #0170ba;
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    transition: transform 0.2s ease-in-out;
}

.project-button-demo:hover {
    background-color: #effefe;
    color: #0170ba;
}

.project-button-demo:active {
    transform: scale(0.9);
    
}

/*****************************/

/********FOOTER************/

.footer {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0170ba;
}
.footer a {
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    transition: all .2s ease-in-out;
}

.footer a:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

/**********************************************************/

@media only screen and (max-width: 380px) {

    .menu-icon-mobile {
        display: block;
        align-self: flex-end;
        margin-right: 5%;
    }

    .menu {
        display: none;
    }

    .bar-container {
        flex-direction: column;
    }

    .banner-header {
        margin-top: 15%;
    }
    .banner-header span {
        display: none;
    }

    .banner {
        background: rgba(0, 0, 0, 0.5) url(developing.jpg) no-repeat center / cover padding-box border-box;
    }

    .avatar {
        width: 125px;
        height: 125px;
    }

    .avatar-body {
        height: 85px;
        width: 205px;
        font-size: 25px;
    }
    
    .experience-container {
        width: 85%;
    }

    .break.mob {
        display: inline;
    }

    .university-logo-box {
        margin-bottom: 4%;
    }

    .skills-header {
        margin-top: 5%;
        line-height: 120%;
    }

    .hexagon {
        width: 85px;
    }

    .break {
        display: none;
    }

    .project p {
        font-size: 15px;
        
        text-align: justify;
    }

    .project ul {
        margin-left: 4%;
        margin-right: 5%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 680px) {
    

}

@media only screen and (min-width: 680px) and (max-width: 1100px) {
    
}
